.loadingContainer {
  position: absolute;
  width: 45%;
  height: 45%;
  display: flex;
  justify-content: center;
  background: url("../Image/exit.gif") no-repeat center/cover;
}

.loadingBack {
  background-color: #252525;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .loadingContainer {
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: #252525;
  }
}